html,body{
    height: 100%;

    display: flex;
    flex-direction: column;

    background-color: #f4f4f4;
}

/* 1.主体 */
.main{
    flex: 1;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 个人信息 */
.self{
    display: flex;
    background-color: #fff;
    padding: 20px;
    align-items: center;
}
.self .head{
    flex: 2;
}
.self .head img{
    width: 100%;
}
.self .text{
    flex: 8;
    font-size: 16px;
    margin-left: 10px;
}

/* 状态 */
.state{
    margin: 10px 0;
    padding:20px 0;
    background-color: #fff;
    display: flex;
    justify-content: space-around;

    font-size: 12px;
}
.state span{
    font-size: 36px;
}

/* 更多 */
.more{
    flex: 1;

    background-color: #fff;

    padding: 10px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}
.more div{
    display: flex;
    
    height: 25%;
    align-items: center;

    box-sizing: border-box;

    padding: 0 10px;
    border: 1px solid #f4f4f4;
    border-bottom: 1px solid #fff;
}
.more div:last-child{
    border-bottom: 1px solid #f4f4f4;
}
.more div p{
    flex: 1;
    font-size: 16px;
    margin-left: 10px;
}
.more div .one{
    color: #E43130;
    font-size: 26px;
}
.more div .two{
    color: #ccc;
    font-size: 24px;
}


/* 2.底部 */
.footer{
    background-color: #fff;
}
.footer ul{
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.footer ul li a.active{
    color: #E43130;
}
.footer ul a{
    color: #8d8d8d;
}
.footer ul a span{
    font-size: 12px;
}